Flask==3.0.0
mysql-connector-python==8.2.0
pandas==2.1.1
scikit-learn==1.6.1
python-dotenv==1.0.0
Werkzeug==3.0.1
numpy==1.26.4
tensorflow==2.16.2
keras==3.10.0
opencv-python==4.8.1.78
Pillow==10.0.1
